$font_main: "PT Root UI", "Arial", sans-serif;
$med: 500;
$bold: 700;

$mob_min: 320px;
$mob_max: 719px;
$tab_min: 720px;
$tab_max: 999px;
$desk_min: 1000px;
$desk_max: 1000px;

$mob_pads: 15px;
$tab_pads: 25px;
$desk_pads: 25px;

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;

$main-light: #efefef;
$main-middle: #484848;
$main-dark: #000000;
$border-light: #e6e6e6;
$border-middle: #e9e9e9;
$bg-dark: #171717;
$accent: #d70e2a;
